body {
  background-color: white;
  color: black;
  font-size: 40px;
}
  
.dark-mode {
  background-color: black;
  color: white;
}

/* */

.bilde {
  width: 1100px;
  clear: both;
}

.bilde>div {
  width: 350px;
  height: 350px;
  float: left;
  line-height:100px; 
}

.bilde>div>img {
  display: inline-block;
  vertical-align: middle;
  max-width: 80%;
  max-height: 80%;
}
